<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost/mobiloc</property>
        <property name="hibernate.connection.username">rainerdreyer</property>
        <property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property>
        
        <property name="hibernate.dialect">org.hibernatespatial.postgis.PostgisDialect</property>

<!--        <property name="show_sql">true</property>-->
        <property name="hibernate.connection.autocommit">true</property>
        <property name="hbm2ddl.auto">create</property>
<!--        <property name="hbm2ddl.auto">update</property>-->

        <mapping class="org.mobiloc.lobgasp.model.SpatialDBEntity"/>
        <mapping class="org.mobiloc.lobgasp.osm.model.POIEntity"/>
        <mapping class="org.mobiloc.lobgasp.osm.model.POIs.NamedPOIEntity"/>
        <mapping class="org.mobiloc.lobgasp.osm.model.POIs.PubEntity"/>
        <mapping class="org.mobiloc.lobgasp.osm.model.POIs.LibraryEntity"/>

        <mapping class="org.mobiloc.lobgasp.osm.model.WayEntity"/>
        <mapping class="org.mobiloc.lobgasp.osm.model.Ways.TunnelEntity"/>
        <mapping class="org.mobiloc.lobgasp.osm.model.Ways.StepsEntity"/>
        <mapping class="org.mobiloc.lobgasp.osm.model.Ways.ForestEntity"/>
        <mapping class="org.mobiloc.lobgasp.osm.model.Ways.FieldEntity"/>
        <mapping class="org.mobiloc.lobgasp.osm.model.Ways.NatureReserveEntity"/>
        <mapping class="org.mobiloc.lobgasp.osm.model.Ways.ReservoirEntity"/>
        <mapping class="org.mobiloc.lobgasp.osm.model.Ways.ParkingEntity"/>
        <mapping class="org.mobiloc.lobgasp.osm.model.Ways.RoadEntity"/>
        <mapping class="org.mobiloc.lobgasp.osm.model.Ways.BuildingEntity"/>
    </session-factory>
</hibernate-configuration>
